In [ ]:
-- MySQL Workbench Forward Engineering

SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0;
SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0;
SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION';

-- -----------------------------------------------------
-- Schema final_pro
-- -----------------------------------------------------
-- -----------------------------------------------------
-- Schema final_pro
-- -----------------------------------------------------

-- -----------------------------------------------------
-- Schema final_pro
-- -----------------------------------------------------
CREATE SCHEMA IF NOT EXISTS `final_pro` DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci ;
USE `final_pro` ;


-- -----------------------------------------------------
-- Table `final_pro`.`pelicula`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `final_pro`.`pelicula` (
  `film_id` VARCHAR(20) NOT NULL,
  `title` VARCHAR(200) NULL DEFAULT NULL,
  `type` VARCHAR(45) NULL DEFAULT NULL,
  `description` LONGTEXT NULL DEFAULT NULL,
  `release_year` INT NULL DEFAULT NULL,
  `age_certification` VARCHAR(45) NULL DEFAULT NULL,
  `runtime` INT NULL DEFAULT NULL,
  `genres` VARCHAR(200) NULL DEFAULT NULL,
  `production_countries` VARCHAR(200) NULL DEFAULT NULL,
  `seasons` INT NULL DEFAULT NULL,
  `imdb_id` VARCHAR(45) NULL DEFAULT NULL,
  `imdb_score` DECIMAL(10,0) NULL DEFAULT NULL,
  `imdb_votes` DECIMAL(10,0) NULL DEFAULT NULL,
  `tmdb_popularity` DECIMAL(10,0) NULL DEFAULT NULL,
  `tmdb_score` DECIMAL(10,0) NULL DEFAULT NULL,
  `platform` VARCHAR(50) NULL DEFAULT NULL,
  PRIMARY KEY (`film_id`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8mb4
COLLATE = utf8mb4_0900_ai_ci;

-- -----------------------------------------------------
-- Table `final_pro`.`actor`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `final_pro`.`actor` (
  `person_id` INT NOT NULL,
  `name` VARCHAR(200) NULL DEFAULT NULL,
  PRIMARY KEY (`person_id`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8mb4
COLLATE = utf8mb4_0900_ai_ci;


-- -----------------------------------------------------
-- Table `final_pro`.`comentario`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `final_pro`.`comentario` (
  `review_id` INT NOT NULL,
  `film_id` VARCHAR(20) NULL DEFAULT NULL,
  `review_title` MEDIUMTEXT NULL DEFAULT NULL,
  `rating_title` VARCHAR(45) NULL DEFAULT NULL,
  PRIMARY KEY (`review_id`),
  FOREIGN KEY (`film_id`) REFERENCES pelicula(`film_id`)
)
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8mb4
COLLATE = utf8mb4_0900_ai_ci;

-- -----------------------------------------------------
-- Table `final_pro`.`reparto`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `final_pro`.`reparto` (
  `id` INT NOT NULL,
  `person_id` INT NULL DEFAULT NULL,
  `film_id` VARCHAR(20) NULL DEFAULT NULL,
  `character` VARCHAR(200) NULL DEFAULT NULL,
  `role` VARCHAR(45) NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  FOREIGN KEY (`film_id`) REFERENCES pelicula(`film_id`),
FOREIGN KEY (`person_id`) REFERENCES actor(`person_id`)

)
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8mb4
COLLATE = utf8mb4_0900_ai_ci;


SET SQL_MODE=@OLD_SQL_MODE;
SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS;
SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS;